<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.skylife_Transformation.mapper.SkylifeMapper">

	<insert id="register">
		insert into member(id, pw, name, bday, email, phone)
		values (#{id}, #{pw}, #{name}, #{bday}, #{email}, #{phone})
	</insert>
	<select id="idCheck" resultType="int">
		select count(*) from member
		where id=#{id}
	</select>
</mapper>